*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  outline: none;
}


header{
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header p{
  font-size: 40px;
  margin-top: 20px;
}


#NavCRUD{
  margin-top: 30px;
  width: 100%;
  display: flex;
}

#NavCRUD ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  list-style: none;
}

#NavCRUD li{
  margin-left: 20px;
}

#NavCRUD li a{
  text-decoration: none;
  color: black;
}

#start:hover{
  text-decoration:underline;
  color: grey;
  transition: 0.3s;
}
#db:hover{
  text-decoration:underline;
  color: grey;
  transition: 0.3s;
}
#tables:hover{
  text-decoration:underline;
  color: grey;
  transition: 0.3s;
}

#main{
  display: flex;
  width: 100%;
  height: 86vh;
}

#sectionTables{
  display: none;
  width: 100%;
  height: 86vh;
}

#documentation{
  margin-top: 10px;
  margin-left: 5px;
}

#documentation p{

  margin-bottom: 40px;
  margin-left: 30px;
}

#documentation h4{
  margin-top: 10px;
}

#documentation img{
  width: 300px;
}

#imagenesDocumentation{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#tecnologiasIMG{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tecnologiasIMG img{
  width: 150px;
}

#sectionDB{
  display: none;
  flex-direction: column;
}

#addDB{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#addDB button{
  width: 60px;
  border: none;
  border-radius: 10px;
  background: green;
  color: white;
}

#addTableDB{
  display: none;
  justify-content: center;
  width: 99.5%;
  height: 100px;
}

#addTableDB i{
  position: absolute;
  left: 840px;
  top: 160px;
}

#containerADD{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  border-radius: 10px;
  border: 1px solid black;
}

#containerADD input{
  width: 260px;
  margin-bottom: 20px;
}
#containerADD button{
  width: 110px;
  background: rgb(56, 205, 255);
  color: white;
  border-radius: 10px;
  border: none;
}

#showDB{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.cardDB{
  margin: 10px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  width: 400px;
  height: 30px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.cardDB button{
  padding: 2px;
  width: 60px;
  text-decoration: none;
  background: red;
  color: white;
  border-radius: 10px;
  border: none;
}

.cardDB div{
  display: flex;
  justify-content: end;
  width: 400px;
}


.cardTable{
  margin-left: 10px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.cardTable a{
  text-decoration: none;
  color: black;
}

.cardTable:hover{
  background: rgb(202, 202, 202);
}

#tableMain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; 
  margin-top: 40px;
}