*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


header{
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header p{
  font-size: 40px;
  margin-top: 20px;
}


#NavCRUD{
  margin-top: 30px;
  width: 100%;
  display: flex;
}

#NavCRUD ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  list-style: none;
}

#NavCRUD li{
  margin-left: 20px;
}

#NavCRUD li a{
  text-decoration: none;
  color: black;
}

#start:hover{
  text-decoration:underline;
  color: grey;
  transition: 0.3s;
}
#db:hover{
  text-decoration:underline;
  color: grey;
  transition: 0.3s;
}
#tables:hover{
  text-decoration:underline;
  color: grey;
  transition: 0.3s;
}

#main{
  width: 100%;
  height: 86vh;
}

#documentation{
  margin-top: 10px;
  margin-left: 5px;
}

#documentation p{

  margin-bottom: 40px;
  margin-left: 30px;
}

#documentation h4{
  margin-top: 10px;
}

#documentation img{
  width: 300px;
}

#imagenesDocumentation{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#tecnologiasIMG{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tecnologiasIMG img{
  width: 150px;
}